@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #f10843;
    --cor-hover: #272727;
    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.imagem_geral {
  max-width: 70%;
  height: auto;
  border-radius: 15%;
  align-items: center;
}

.logo {
  max-width: 10%;
  padding: 1% 20% 0% 20%;
  width: 100%;
  /*height: auto;*/
}

.cabecalho {
    padding: 2% 10% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 40px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color:var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 0% 10% 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
  
.apresentacao__conteudo {
    width: 100%;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apresentacao__conteudo__titulo {
    padding: 5% 0% 0% 0%;
    font-size:1.4rem;
    text-align: center;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulocard {
    font-size:1.4rem;
    font-family: var(--fonte-primaria);
    text-align: center;
}
.titulo_nome {
    padding: 5% 0% 0% 0%;
    font-family: var(--fonte-primaria);
    font-size: 2rem;
    font-weight: 400;
    color: var(--cor-primaria);
    text-align: center;
}
.titulo-destaque {
    color:var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    padding: 5% 0% 0% 0%;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    color: var(--cor-primaria);
}

.apresentacao__conteudo__textocard {
    font-size: 1.3rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    color: var(--cor-primaria);
}
.apresentacao__conteudo__textlink {
    font-family: var(--fonte-primaria);
    font-size: 1.4rem;
    font-weight: 600;
    color:var(--cor-terciaria);
    text-align: center;
    text-decoration: none;
    font-weight: 400;
}
.apresentacao__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between; */
    justify-content: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-size:1.4rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 9px;
    font-size:1rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    /*font-weight: 300; */
    font-style: normal;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.apresentacao__links__navegacao:visited {
    background-color: var(--cor-terciaria);
    color:var(--cor-secundaria);
    text-decoration: none;
} 
.apresentacao__links__navegacao:hover {
    background-color: var(--cor-terciaria);
    color:var(--cor-secundaria);
    text-decoration: none;
} 

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 10px;
    text-align: center;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 15%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    .logo {
    max-width: 50%;
    padding: 0% 25%;
}
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 1%;
    }

    .apresentacao__conteudo {
        width: 100%;
    }
    
    .apresentacao__imagem {
    width: 80%;
}
    .imagem_geral {
    /*max-width: 80%;*/
    width: 60%;
    height: auto;
    border-radius: 15%;
}
}
